<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.des.mapper.InfoMapper">
    <resultMap id="BaseResultMap" type="hbi.core.des.dto.Info">
        <result column="SID" property="sid" jdbcType="DECIMAL" />
        <result column="SNAME" property="sname" jdbcType="VARCHAR" />
        <result column="SAGE" property="sage" jdbcType="DECIMAL" />
        <result column="SSEX" property="ssex" jdbcType="VARCHAR" />
        <result column="SPHONE" property="sphone" jdbcType="VARCHAR" />
        <result column="SEMAIL" property="semail" jdbcType="VARCHAR" />
        <result column="ADMISSIONDATE" property="admissiondate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="GRADUATEDATE" property="graduatedate" jdbcType="DATE" />
        <result column="SLNAME" property="slname" jdbcType="VARCHAR" />


    </resultMap>


</mapper>